* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: 'Kode Mono', Courier, monospace;
	font-size: 16px;
	font-optical-sizing: auto;
	line-height: 18px;
	font-style: normal;

	background-color: #0e1111;
	color: #faebd7;
}

a {
	color: #b0ff62;
}

a:hover {
	color: #7fff00;
}

.terminal {
	display: flex;
	flex-direction: column;

	padding: 8px;

	max-width: 50%;
}

.terminal .command {
	display: flex;
	align-items: center;
	justify-content: start;
}

.command .user {
	color: #7fff00;
	margin-right: 10px;
}

.command input {
	background-color: transparent;
	border: none;
	outline: none;
	color: #faebd7;

	width: 80%;
}

input:focus {
	outline: none;
}

.terminal .response {
	display: flex;
	flex-direction: column;
}
.terminal h1 {
	font-size: 24px;
	font-weight: bold;
	line-height: 35px;
	letter-spacing: -2px;
	margin: 10px 0;
}

.link {
	margin-left: 10px;
}

.terminal .tab {
	margin-left: 10px;
}

.project {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin: 10px 0;
}

.project .name {
	color: #b0ff62;
	width: 20%;
}

.project .description {
	width: 80%;
}

@media only screen and (max-width: 600px) {
	body {
		font-size: 14px;
		line-height: 16px;
	}
	.terminal {
		max-width: 100%;
	}
}
